<h1>New movie list</h1>

<%= simple_form_for (@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
  <% end %>

<p><%= link_to "Back to list", lists_path %></p>
