<h1>Add movie</h2>

<%= simple_form_for ([@list, @bookmark]) do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, input _html: { class: 'select2' } %>
  <%= f.submit %>
  <% end %>

<p><%= link_to "Back to the list", list_path(@list) %></p>
